; ~/.fstimizelyrc: (key/value api not in source control)
[tokens]
  clientA=qwertyuiopasdfghjklzxcvbnm:123456789
  clientB=mnbvcxzlkjhgfdsapoiuytrewq:123456789

; ./.fstimizelyrc: (key/value experiment id in source control)
clientA=1234567890
